<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Opis projektu</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>Nasza uczelnia, jak i wiele innych w kraju jest miejscem działalności wielu organizacji studenckich. Cześć z nich posiada setki członków i chcąc z roku na rok poprawiać renomę swojego oddziału i projektów jakimi się zajmują - potrzebują osoby oraz narzędzi do zapanowania nad zasobami - ludzkimi, inwentarzem itp.
      Celem projektu jest implementacja narzędzia służącemu do organizacji i administracji członkami. Oprócz podstawowych danych osobowych, każdy ze studentów ma prawo należeć do jednej lub więcej grupy roboczej:</p>
    <ul>
      <li>Human Resources</li>
      <li>Public Relations</li>
      <li>Fundraising</li>
      <li>IT Team</li>
      <li>Design Team</li>
      <li>Grant Team</li>
    </ul>
    <p>oraz/lub do teamu projektowego:</p>
    <ul>
      <li>Soft Skills Academy</li>
      <li>Targi Projektów Akademickich</li>
      <li>EESTEC Competition For Android</li>
      <li>KrakYourNet</li>
      <li>Smart Energy For A Better World</li>
    </ul>

    <p>Działalność grup roboczych jest całoroczna i trwa od początku roku akademickiego w którym student dołączył do organizacji, aż do rozpoczęcia następnego semestru i co za tym idzie potwierdzenia chęci działania w grupie kolejny rok / deklaracji zmiany grup(y).
      Czas pracy teamów projektowych to kilka miesięcy. Rozpoczyna się on zwykle co roku w podobnych okresach, zaraz po ogłoszeniu call na koordynatorów projektu i zapisy do teamów projektowych.
      Każdy z członków może pracować dodatkowo na poziomie międzynarodowym swojej organizacji, więc możemy chcieć wyświetlić listę członków aktywnych międzynarodowo oraz w jakich departamentach pracują:
      Chairperson
      External Affairs
      Internal Affairs
      Publications and Administration
      Treasuer
      International Project
      EESTEC Body</p>

    <p>Jak widać - wielowymiarowość projektu jest dość złożona, a obecne metody pracy z arkuszami excel - wyjątkowo czasochłonne i momentami niedokładne. Mamy nadzieję zautomatyzować ten proces.
    </p>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Linki</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    elowymiarowość projektu jest dość złożona, a obecne metody pracy z arkuszami excel - wyjątkowo czasochłonne i momentami niedokładne. Mamy nadzieję zautomatyzować ten proces.
    </p>
  </md-card-content>
</md-card>
